html {
    background-color: #1d1d1d;
}

header {
    display: flex;
}

header > h3 {
    margin: 0;
}

#actions {
    display: block;
    margin-left: auto;
    margin-right: 0;
}

body {
    color: #fff;
    font-family: sans-serif, Tahoma, 'Times New Roman';
}

a {
    color: white;
    text-decoration: none;
}

a:focus {
    outline:none;
}

button {
    border: none;
    background-color: rgb(15, 15, 15);
    padding: 0 15px;
    font-size: 16px;
}


.main {
    display: flex;
    max-width: 85%;
    margin: 0 auto;
}

.main > div > hr {
    border: none;
    background-color: gray;
    height: 3px;
}

/* CSS for the category list */
.categories {
    width: 20%;
    padding: 0 3%;
}

.category {
    display: flex;
}

.category > hr {
    width: 10px;
    margin-right: 5%;
    border: none;
}

/* Set colors for the categories hr tags */
#open-source > hr {
    background-color: tan;
}

#linux > hr{
    background-color: lightblue;
}

#gaming > hr {
    background-color: lightcoral;
}

.latest {
    width: 80%;
    padding: 0 3%;
}

.latest > div:last-child {
    display: flex;
}

.latest > div:last-child > button {
    margin-left: auto;
    margin-right: 0;
}


/* CSS for user posts */
.post {
    display: flex;
    flex-wrap: wrap;
    max-height: 5%;
}

.post > hr:last-child {
    width: 100%;
}

.post > div > h4 {
    margin: 0;
}

.post > div > p {
    margin: 0;
}

.post > img {
    border-radius: 50%;
    max-width: 100%;
    padding: 0 10px;
}

.content {
    display: flex;
}

/* Flair to distinguish posts in different categories */
.flair {
    width: 5px;
    border: none;
    margin: 0;
    height: 45px;
    padding: 0;
    background-color: tan;
}

.post > .info {
    margin-left: auto;
}


.headings {
    max-width: 95%;
}


footer > p {
    text-align: center;
    font-size:12px;
}
