html {
    background-color: #1d1d1d;
}

header {
    display: flex;
}

header > h3 {
    margin: 0;
}

#account-actions {
    display: block;
    margin-left: auto;
    margin-right: 0;
}

body {
    color: #fff;
    font-family: sans-serif, Tahoma, 'Times New Roman';
}

a {
    color: white;
}
a:focus {
    outline:none;
}

footer > p {
    text-align: center;
    font-size:12px;
}
